################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

#过滤*.cshtml、*.dll
*.gitigore
*.cshtml
*.dll
*.js
*.txt
*.css

